<div class="hero-unit">
<h1>
	Welcome to my Sample <%= link_to "Rails", "http://rubyonrails.org/"%> App!
</h1>
<p>
	You've found the home page for the application.
</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>