$navbarBackgroundHighlight: #003445;
$navbarBackground: #003445;
$btnPrimaryBackground: #00212c;
$btnPrimaryBackgroundHighlight: #00212c;
$navbarText: #FFFFFF;
$navbarLinkColor: #FFFFFF;
$navbarLinkColorHover: #FFFFFF;
$navbarLinkColorActive: #FFFFFF;
$navbarHeight: 40px;
$dropdownBackground: #003445;

@import 'bootstrap';
body{
    padding-top: 120px;
    background-image:image-url("beige_linen.jpg");
	font-family: "Raleway", Arial, Helvetica, sans-serif;
}

@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
	color: #FFFFFF;
	font-size: 18px;
	span{
	    color:#f2e0e0;
	}
}

.navbar .nav > li > a {
  line-height: 60px;
}

.dropdown {
	span {
		font-size: 10px;
		vertical-align: top;
	}
}

.dropdown-menu {
	border:2px dotted #00212c;
}

.navbar.navbar-fixed-bottom {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
	color:#FFFFFF;
	background-color: #003445;
	font-size: 12px;
	a {
		color: #FFFFFF;
		text-decoration: none;
	}
}

input[type="checkbox"] {
    vertical-align: top;
}

input[type="checkbox"] + label {
    display:inline;
    vertical-align: top;
}