      <div class="footer">
        <div class="container">
          	<div class="row-fluid">
			  <div class="span3">Pages</div>
			  <div class="span3">Support Us</div>
			  <div class="span3">More</div>
			  <div class="span3">More</div>
			</div>
        </div>
      </div>